<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>


<div id="inicio">
    <div id="informacoes">
        <h4 id="title">BEM VINDO AO</h4>
        <h1 id="subtitle"><b>BOTLAB!</b></h1>
        <p id="txt">Explore os nossos produtos de <br> alta qualidade e nossas 
        promoções <br> feitas especialmente 
         para você!</p>
    </div>
</div>

<div id="content">
    
</div>



<%- include ('partials/footer.ejs') %>